@{
    ViewBag.Title = "M_GetCommentList";
    Layout = null;
}
@model IEnumerable<MHD.Original.Award.ViewModels.CommentViewModel>
@{
    ViewBag.Title = "GetCommentList";
}
<input id="PageCount" value="@ViewBag.PageCount" hidden />
<input id="CurrentPage" value="@ViewBag.CurrentPage" hidden />
@{
    foreach (var comment in Model)
    {
        <div class="talk-item">
            <div class="talk-head" style="background-image: url('@comment.PortraitUrl');"></div>
            <div class="talk-talk">
                <p class="font-26 talk-title">@comment.UserName<span class="text-right">@comment.createtime</span></p>
                <p class="font-28 talk-text">@comment.content</p>
            </div>

            @if (comment.ChildrenComment != null && comment.ChildrenComment.Count > 0)
            {
                var position = 0;
                <div class="child-group">
                    @foreach (var childComment in comment.ChildrenComment)
                    {
                        position++;
                        if (position <= 2)
                        {
                            <div class="talk-item-child">
                                <div class="talk-head" style="background-image: url('@childComment.PortraitUrl');"></div>
                                <div class="talk-talk">
                                    <p class="font-26 talk-title">@(childComment.UserName)的回复</p>
                                    <p class="font-28 talk-text">@childComment.content</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="talk-item-child" hidden>
                                <div class="talk-head" style="background-image: url('@childComment.PortraitUrl');"></div>
                                <div class="talk-talk">
                                    <p class="font-26 talk-title">@(childComment.UserName)的回复</p>
                                    <p class="font-28 talk-text">@childComment.content</p>
                                </div>
                            </div>
                        }
                    }
                    @if (comment.ChildrenComment != null && comment.ChildrenComment.Count >= 3)
                    {
                        <p class="font-24 text-more show-child">展示更多<span class="icon-arrow-down"></span></p>
                    }
                </div>
            }
            <div class="font-22 talk-reply" data-hid-id="@comment.id" data-hid-username="@comment.UserName">回复</div>
        </div>
    }
}
