@model  IEnumerable<MHD.Original.Award.ViewModels.VoteBookViewModel>

@{
    ViewBag.Title = "GetBookListByType";
    var userId = ViewBag.UserId == null ? 0 : ViewBag.UserId;
}
<div class="comicbooklist vote-row">
    @{
    foreach (var book in Model)
    {
        <div class="book vote-item">
            <a href=@Url.Action("GetBookDetailById", "ComicBooks", new { bookId = book.BookId, userId = userId })>
                <div class="cover-box item-pic" style="background-image:url('@book.BookCoverUrl')">
                </div>
            </a>

            <p class="vote-item-title"><a href=@Url.Action("GetBookDetailById", "ComicBooks", new { bookId = book.BookId, userId = userId })>@book.BookName</a></p>
            <p class="vote-item-info">@book.Pseudonym<span class="book-share vote-lp"><i class="vote-icon-speaker"></i>拉票</span></p>
            <div class="vote-item-vote-solid" hidden><span class="vote-icon-love-solid"></span>已投票</div>
            <div class="book-vote vote-item-vote-hollow" onclick="javascript: VoteBook(this)"><span class="vote-icon-love-hollow"></span>投票</div>
            <input type="hidden" class="book-hid-id" value=@book.BookId />

            <!--如果已经投票，使用类：vote-item-vote-solid、vote-icon-love-solid-->
            <!--如果没有投票，使用类：vote-item-vote-hollow、vote-icon-love-hollow-->
            <p class="vote-num">票数：<span class="vote-score">@book.TotalScore</span></p>

            <input type="hidden" class="book-hid-brief" value=@book.Brief />
            <input type="hidden" class="book-hid-name" value=@book.BookName />
            <input type="hidden" class="book-hid-coverurl" value=@book.BookCoverUrl />
            <input type="hidden" class="book-hid-currentUserId" value=@userId />
        </div>
    }
    }
</div>

<script type="text/javascript">
    //已投票限制
    var voteList = getCookie('CBIDS').split(',');
    var bookIdElemList = $(".book-hid-id");

    for (var i = 0; i < bookIdElemList.length; i++) {
        var bookId = $(bookIdElemList[i]).val();

        if ($.inArray(bookId, voteList) > -1) {
            $(bookIdElemList[i]).parent().children('.vote-item-vote-hollow').hide();
            $(bookIdElemList[i]).parent().children('.vote-item-vote-solid').show();
        }
    }


    $(".book-share").on('click', function (e) {
        var parent = $($(this).parent().parent());
        var bookName = parent.children('.book-hid-name').val();
        var bookId = parent.children('.book-hid-id').val();
        var bookCoverUrl = parent.children('.book-hid-coverurl').val();
        var bookBrief = parent.children('.book-hid-brief').val();
        var shareUserId = parent.children('.book-hid-currentUserId').val();

        $.ajax({
            type: 'post',
            url: "@Url.Action("GetCurrentLoginUserId", "ComicBooks")",
            async: false,
        success: function (data) {
            shareUserId = data.UserId;
        }
    });

    //分享要登录，可能会改
    if (shareUserId == 0) {
        alert("您还没有登录，不能进行拉票哦");
        window.open("http://www.manhuadao.cn/Account/Index" + "?returnUrl=" + window.location.href);
        return;
    }

    var shareUrl = '@Url.Action("GetBookDetailById", "ComicBooks")?bookId=' + bookId + '&userId=' + shareUserId;
    jiathis_config.title = '《' + bookName + '》 超好的作品已加入金龙奖大赛！小伙伴们一起为TA投票助威吧！';
    jiathis_config.url = "http://cacc.manhuadao.cn" + shareUrl;
    jiathis_config.pic = bookCoverUrl;
    $('#mask').show();
    $('.jiathis-diy').show();
    });

    $(".vote-list-ch").find(".book-vote").on('click', function (e) {
        var parent = $($(this).parent());
        var bookId = parent.children('.book-hid-id').val();
        var url = '@Url.Action("CreateVote", "ComicBooks")?bookId=' + bookId;
        if (BookVote(url) == 0) {
            $(this).hide();
            $(this).prev().show();
            var currentScore = new Number(parent.find('.vote-score').text());
            parent.find('.vote-score').text(currentScore + 1 + '');
        }
    });

    $(".vote-list-hb").find(".book-vote").on('click', function (e) {
        var parent = $($(this).parent());
        var bookId = parent.children('.book-hid-id').val();
        var url = '@Url.Action("CreateVote", "ComicBooks")?bookId=' + bookId;
        if (BookVote(url) == 0) {
            $(this).hide();
            $(this).prev().show();
            var currentScore = new Number(parent.find('.vote-score').text());
            parent.find('.vote-score').text(currentScore + 1 + '');
        }
    });


    $($(".vote-list-jq").find(".book-vote")).on('click', function (e) {
        var parent = $($(this).parent());
        var bookId = parent.children('.book-hid-id').val();
        var url = '@Url.Action("CreateVote", "ComicBooks")?bookId=' + bookId;
        if (BookVote(url) == 0) {
            $(this).hide();
            $(this).prev().show();
            var currentScore = new Number(parent.find('.vote-score').text());
            parent.find('.vote-score').text(currentScore + 1 + '');
        }
    });
</script>


