@model MHD.Original.Award.ViewModels.VoteBookViewModel
@{
    Layout = null;
    var pageCount = ViewBag.PageCount ?? 1;
    var userId = ViewBag.UserId;
    //if (Request.QueryString["userId"] != null)
    //{
    //    userId = int.Parse(Request.QueryString["userId"]);
    //}
    //if (Request.QueryString["amp;userId"] != null)
    //{
    //    userId = int.Parse(Request.QueryString["amp;userId"]);
    //}
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>漫画岛分享页</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <script src="~/Content/js/flexible.min.js"></script>
    <link href="~/Content/css/mobile.css" rel="stylesheet">
</head>
<body>
    <header class="detail-top">
        <a href="@Url.Action("M_Vote", "ComicBooks")">
            <header class="top-back"></header>
            <p class="top-title font-26">金龙奖参赛作品</p>
        </a>
    </header>
    <header class="detail-header">
        <div class="cover" style="background-image: url('@Model.BookCoverUrl')"></div>
        <div class="book-info">
            <p class="book-title font-36">@Model.BookName</p>
            <p class="book-author font-26"> 作&nbsp;者：<span>@Model.Pseudonym</span></p>
            <p class="book-new font-26">最新话：<span>@Model.LastChapterName</span></p>
            <p class="book-num font-26">得票数：<span><span id="vote-score">@Model.TotalScore</span></span>票</p>
            <input type="hidden" id="book-id" value=@Model.BookId />

            <div class="book-vote font-26" id="vote-book">投TA一票</div>
            <div class="book-voted font-26 btn-vote-solid" style="display:none;">已投票</div>
            <div class="book-share font-26" id="share-book" style="display:none;">去拉票</div>
        </div>
    </header>
    <section class="book-about">
        <p class="about-content font-26">
            @Model.Brief
        </p>
        <span class="icon-arrow-down"></span>
    </section>
    <section class="book-section">
        <span class="section-title font-30">章节列表</span>
        <div class="section-content">
            <div class="content-group">
                @{
                    if (!string.IsNullOrEmpty(Model.ThirdPartyUrl))
                    {
                        <a href=@Model.ThirdPartyUrl class="chapter-name" id="chapter-name-0" style="display:block;"><span class="section-item">阅读</span></a>
                    }
                    else
                    {
                        var position = 0;
                        foreach (var chapter in Model.ChapterList)
                        {
                            position++;
                            if (position < 25)
                            {
                                <a href=@Url.Action("M_GetChapter", "ComicBooks", new { chapterId = chapter.Id, userId = userId })><span data-chapter-id=@chapter.Id>@(chapter.PartNumber + 1)</span></a>
                            }
                            else
                            {
                                <a href=@Url.Action("M_GetChapter", "ComicBooks", new { chapterId = chapter.Id, userId = userId })><span data-chapter-id=@chapter.Id class="chapter-hid" style="display:none;">@(chapter.PartNumber + 1)</span></a>
                            }
                        }
                        <span id="chapter-more">...</span>
                    }
                }
            </div>
        </div>
    </section>

    <div id="mask"></div>
    <div class="alert-diy">
        <p class="alert-title" id="alert-title"></p>
        <p class="alert-text" id="alert-text"></p>
        <div class="alert-btn">
            <div class="alert-ok" id="alert-ok"></div>
        </div>
    </div>

    <div class="jiathis-diy">
        <div class="jiathis-close"></div>
        <p class="jiathis-title">点击下方按钮开始拉票！</p>
        <div class="jiathis_style_32x32" style="margin: 30px 0 0 60px;">
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_weixin"></a>
            <a class="jiathis_button_cqq"></a>
        </div>
    </div>

    <!-- JiaThis Button BEGIN -->
    <div role="dialog" id="jiathis-dialog" hidden>
        <!-- JiaThis Button BEGIN -->
        <div class="jiathis_style_32x32">
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_weixin"></a>
            <a class="jiathis_button_cqq"></a>
        </div>
        <!-- JiaThis Button END -->
    </div>

    <!--脚本开始-->
    <div>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
        <script src="~/js/jquery.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
        <script src="~/Scripts/jquery.twbsPagination.min.js"></script>
        <script src="~/Content/js/tool.js"></script>
        <script type="text/javascript">

            var isMobile = {
                Android: function () {
                    return navigator.userAgent.match(/Android/i);
                },
                BlackBerry: function () {
                    return navigator.userAgent.match(/BlackBerry/i);
                },
                iOS: function () {
                    return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                },
                Opera: function () {
                    return navigator.userAgent.match(/Opera Mini/i);
                },
                Windows: function () {
                    return navigator.userAgent.match(/IEMobile/i);
                },
                any: function () {
                    return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
                }
            };

            //隐藏ios分享
            if (!isMobile.iOS()) {
                $("#share-book").show();
            }
            //手机版跳转
            var testResult = browserRedirect();
            if (testResult == 'pc') {
                window.location.href = '@Url.Action("GetBookDetailById", "ComicBooks")' + '?bookId=@Model.BookId' + '&userId=@userId';
            } else {
                console.log(testResult);
            }
            //手机版跳转

            $('.chapter-hid').hide();
            $('#chapter-more').on('click', function () {
                var chapterHidList = $('.chapter-hid');
                for (var i = 0; i < 25; i++) {
                    $(chapterHidList[i]).show();
                    $(chapterHidList[i]).removeClass("chapter-hid");
                }
            });


            var MessageDialog = $("#jiathis-dialog").dialog({
                autoOpen: false,
                title: '分享',
                width: 400,
                height: 150,
                modal: true,
                resizable: false,
                buttons: [],
                open: function () {
                    $("#Message-ok").removeClass("ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only")
                    .addClass("btn btn-primary");
                    $("#Message-cancel").removeClass("ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only")
                    .addClass("btn btn-default");
                    $("#Message-ok").blur();
                    $("#Message-cancel").blur();
                }
            });


            $(function () {
                //内容简介
                $('.icon-arrow-down').click(function () {
                    if ($(this).hasClass('icon-arrow-up')) {
                        $(this).removeClass('icon-arrow-up');
                        $('.about-content').removeClass('show-all');
                    } else {
                        $(this).addClass('icon-arrow-up');
                        $('.about-content').addClass('show-all');
                    }
                });

                //章节列表
                $('.content-group>span').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');
                });
            });


            $("#vote-book").on('click', function (e) {
                var bookId = $("#book-id").val();
                var shareUserId = '@userId';
                var url = '@Url.Action("CreateVote", "ComicBooks")?bookId=' + bookId + '&shareUserId=' + shareUserId;
                if (BookVote(url) == 0) {
                    if (getCookie('CBIDS') == "") {
                        document.cookie = 'CBIDS=' + bookId;
                    }
                    //window.location.reload();
                    var currentScore = new Number($('#vote-score').text());
                    $("#vote-score").text(currentScore + 1 + '');
                    $('.book-vote').hide();
                    $('.btn-vote-solid').show();
                }
            });

            //已投票限制
            var voteList = getCookie('CBIDS').split(',');
            var bookId = $("#book-id").val();
            if ($.inArray(bookId, voteList) > -1) {
                $('.book-vote').hide();
                $('.btn-vote-solid').show();
            }

            $('#mask,#alert-cancel,.jiathis-close').click(function () {
                $('#mask,.alert-diy').hide();
                $('.jiathis-diy').hide();
            });

            //分享
            $("#share-book").on('click', function () {
                var bookId = $("#book-id").val();
                var shareUserId = '@userId';

                $.ajax({
                    type: 'post',
                    url: "@Url.Action("GetCurrentLoginUserId", "ComicBooks")",
                    async: false,
                    success: function (data) {
                        shareUserId = data.UserId;
                    }
                });

                //分享要登录，可能会改
                if (shareUserId == 0) {
                    if (isMobile.Android()) {
                        if (typeof rotate != "undefined") {
                            var shareStr = '《' + '@Model.BookName' + '》 超好的作品已加入金龙奖大赛！小伙伴们一起为TA投票助威吧！';
                            rotate.setUrl('http://cacc.manhuadao.cn/ComicBooks/M_GetBookDetailById?bookId=' + bookId + '&userId=' + shareUserId);
                            rotate.startShare(shareStr);
                        } else {
                            alert("您还没有登录，不能进行拉票哦");
                            window.open("http://www.manhuadao.cn/Account/Index" + "?returnUrl=" + window.location.href);
                            return;
                        }
                    }
                    else if (isMobile.iOS()) {
                        if (typeof iosBridge != "undefined") {
                            var jsonShareObj = {
                                title: '金龙奖海选开始啦！',
                                desc: '《' + '@Model.BookName' + '》 超好的作品已加入金龙奖大赛！小伙伴们一起为TA投票助威吧！',
                                imgUrl: '@Model.BookCoverUrl',
                                shareUrl: 'http://cacc.manhuadao.cn/ComicBooks/M_GetBookDetailById?bookId=' + bookId + '&userId=' + shareUserId,
                            }
                            iosBridge.iOSWebShare(JSON.stringify(jsonShareObj));
                            //iosBridge.iOSLogin("json string");
                        } else {
                            alert("您还没有登录，不能进行拉票哦");
                            window.open("http://www.manhuadao.cn/Account/Index" + "?returnUrl=" + window.location.href);
                            return;
                        }

                        //if (typeof nativeBridge != "undefined") {
                        //    nativeBridge.invoke("startShare", "");
                        //} else {

                        //}
                    } else {
                        alert("您还没有登录，不能进行拉票哦");
                        window.open("http://www.manhuadao.cn/Account/Index" + "?returnUrl=" + window.location.href);
                        return;
                    }
                }

                var jiathis_config = {
                    url: "http://cacc.manhuadao.cn/",
                    title: "",
                    pic: "",
                    summary: "",
                    shortUrl: false,
                    hideMore: false
                }

                var shareUrl = '@Url.Action("M_GetBookDetailById", "ComicBooks")?bookId=' + bookId + '&userId=' + shareUserId;
                jiathis_config.title = '《' + '@Model.BookName' + '》 超好的作品已加入金龙奖大赛！小伙伴们一起为TA投票助威吧！';
                jiathis_config.url = "http://cacc.manhuadao.cn" + shareUrl;
                jiathis_config.pic = "@Model.BookCoverUrl";
                @*//jiathis_config.summary = '@Model.Brief';*@

                if ((isMobile.Android() && typeof rotate != "undefined") || (isMobile.iOS() && typeof iosBridge != "undefined")) {
                    $('#mask').hide();
                    $('.jiathis-diy').hide();
                    return;
                }

                $('#mask').show();
                $('.jiathis-diy').show();
                //$("#jiathis-dialog").dialog("open");
            });

            //$('.top-back').on('click', function () {
            //     history.go(-1);
            //});

        </script>

    </div>
</body>
</html>