@{
    Layout = null;
}
@model  MHD.Original.Award.ViewModels.SearchBookListViewModel
@using EFDal.Models.Enums
@{
    ViewBag.Title = "中国动漫金龙奖 × 漫画岛";
    string host = MHD.Original.Award.AppConfig.OriginalHost;
    var userId = Model.CurrentUserId == null ? 0 : ViewBag.UserId;
    var keywords = Model.Keywords == null ? "" : ViewBag.Keywords;
    var pageNumber = Model.PageCount == null ? 1 : ViewBag.PageNumber;
    var type = (int)Model.AwardType;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="adress=no">
    <meta name="flexible" content="initial-dpr=1">
    <!--移动适配框架，必须优先载入-->
    <script src="~/Content/js/flexible.min.js"></script>
    <!--移动适配框架，必须优先载入-->
    <link href="~/Content/css/mobile.css" rel="stylesheet">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?5637c051f1250ef05d12aedee33599a4";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <a href="#top" id="go"><div class="go-top"><span class="icon-arrow-up"></span></div></a>
    <header class="all-header">
        <div class="all-search">
            <div class="item-back"></div>
            <input type="text" class="font-24 search-item" id="comic-keywords" placeholder="输入搜索内容">
            <span class="search-icon" id="comic-search"></span>
        </div>
        <div class="all-tab">
            @*<a href="@Url.Action("M_SearchBookList", "ComicBooks", new { type = DragonAwardType.ChinaComic })"><div class="font-24 tab-item tab-active" id="tab-title-chinacomic">中国漫画大奖</div></a>*@
            <a href="@Url.Action("M_SearchBookList", "ComicBooks", new { type = DragonAwardType.BestStory })"><div class="font-24 tab-item tab-fix" id="tab-title-beststory">最佳剧情漫画奖</div></a>
            <a href="@Url.Action("M_SearchBookList", "ComicBooks", new { type = DragonAwardType.BestInset })"><div class="font-24 tab-item" id="tab-title-bestinset">最佳插画奖</div></a>
            <a href="@Url.Action("M_SearchBookList", "ComicBooks", new { type = DragonAwardType.BestDrawing })"><div class="font-24 tab-item" id="tab-title-bestdrawing">最佳绘本奖</div></a>
        </div>
    </header>
    <section class="all-section">
        @{
            if (Model.VoteBookList.Count == 0)
            {
                <section class="vote-section-none">
                    <div class="row-col-none">
                        <div class="none-pic"></div>
                        <p class="font-18">没有找到符合要求的漫画哦，快去看看其他精彩漫画吧~</p>
                    </div>
                </section>
            }
            else
            {   <div class="section-row">
                @foreach (var book in Model.VoteBookList)
                {
                    <div class="row-col">
                        <a href="@Url.Action("M_GetBookDetailById", "ComicBooks", new { bookId = book.BookId, userId = userId })">
                            <div class="col-pic" style="background-image: url('@book.BookCoverUrl')"></div>
                            <div class="col-mask"></div>
                        </a>
                        <p class="font-22 col-title">@book.BookName</p>
                        <p class="font-20 col-num">票数：<span class="vote-score">@book.TotalScore</span></p>
                        <div class="font-24 col-btn-solid" hidden><span class="icon-love-solid"></span>已投票</div>
                        <div class="book-vote font-24 col-btn"><span class="icon-love"></span>投票</div>

                        <input type="hidden" class="book-hid-brief" value=@book.Brief />
                        <input type="hidden" class="book-hid-id" value=@book.BookId />
                        <input type="hidden" class="book-hid-name" value=@book.BookName />
                        <input type="hidden" class="book-hid-coverurl" value=@book.BookCoverUrl />
                    </div>
                }
            </div>
            }
        }
    </section>

    @*<section >
        <p class="font-24 footer-tip" style="color: #c62505;text-align:center;font-size:.45rem" id="load-more">加载更多</p>
    </section>
    <footer class="vote-footer">
        <p class="font-24 footer-tip">更多内容请登录</p>
        <a href="http://cacc.manhuadao.cn"><div class="footer-btn"></div></a>
        <p class="font-24 footer-link">http://cacc.manhuadao.cn</p>
    </footer>*@

    <div class="all-btn">
        <div class="font-24 footer-btn" style="display: block; margin-top: 10px;" id="load-more">显示更多</div>
        <div class="font-24 footer-btn-all" style="display: none">已显示全部</div>
    </div>
    <div class="index-bg"></div>
    <div class="index-title" id="rule">
        <div class="title-bg-1"></div>
    </div>
    <section class="top5-rule">
        <p class="font-22 rule-text">
            <span class="rule-num">1</span>周赛制-每月按分类进行作品人气投票，前三周，作品将在周一进行上线并发起投票，投票期为7天，逾期将停止投票通道；【每周前三
            将得到漫画岛重点推广】
        </p>
        <p class="font-22 rule-text"><span class="rule-num">2</span>前三周的作品将会在最后一周统一开启投票通道（即每部作品拥有同等的14天投票时间）</p>
        <p class="font-22 rule-text"><span class="rule-num">3</span>月榜每月第一名冠军可以得到由漫画岛原创平台给出的人气作品“一等奖”，5000元的奖金福利。</p>
    </section>

    @*<footer class="all-footer" id="footer">
        <div class="font-24 footer-btn" style="display: block; margin-top: 10px;" id="load-more">显示更多</div>
        <div class="font-24 footer-btn-all" style="display: none">已显示全部</div>
        <img src="~/Content/img/m/rule.jpg" style="width: 10rem;">
        <p class="font-24 footer-tip">更多精彩内容请登录：http://cacc.manhuadao.cn</p>
    </footer>*@

    <div id="mask"></div>
    <div class="alert-diy" hidden>
        <p class="alert-title" id="alert-title"></p>
        <p class="alert-text" id="alert-text"></p>
        <div class="alert-btn">
            <div class="alert-ok" id="alert-ok"></div>
        </div>
    </div>

    <!--脚本开始-->
    <div>
        <script src="~/Content/js/jquery.js"></script>
        <script src="~/Content/js/tool.js"></script>
        <script>
            //返回顶部按钮
            window.onscroll = function () {
                var offset = $('body').scrollTop();
                if(offset > 250){
                    $('#go').show();
                }else{
                    $('#go').hide();
                }
            };

            //点击后退
            $(".item-back").on('click',function(){
                //window.location.href='@Url.Action("M_Vote")';
                history.go(-1);
            });

            //pc版跳转
            var testResult = browserRedirect();
            if (testResult == 'pc') {
                window.location.href = "@Url.Action("SearchBookList", "ComicBooks", new { type = type })";///ComicBooks/M_Vote
            } else {
                console.log(testResult);
            }
            //pc版跳转

            var currentPageNumber = 1;
            $("#load-more").on("click",function(){
                var url='@Url.Action("M_BookListPartView", "ComicBooks")'+'?type='+@type+'&pageNumber='+(currentPageNumber+1);
                $.ajax({
                    url:url,
                    type:'post',
                    async:false,
                    success:function(data){
                        if(data.indexOf('</div>') < 0){
                            $("#load-more").text("已显示全部");
                        }else{
                            currentPageNumber=currentPageNumber+1;
                            $(".section-row").append(data);
                        }
                    }
                })
            });

            $(function () {
                $(".tab-item").click(function () {
                    $(this).siblings().removeClass('tab-active');
                    $(this).addClass('tab-active');
                })
            });

            var keywords = '@Model.Keywords';
            if (keywords != '') {
                $("#comic-keywords").val(keywords);
            }

            $(".tab-item").removeClass("tab-active");
            switch(@type){
                case 0:
                    $(".tab-item").removeClass("tab-active");
                    //$("#tab-title-chinacomic").addClass("tab-active");
                    break;
                case 1:
                    $("#tab-title-chinacomic").addClass("tab-active");
                    break;
                case 2:
                    $("#tab-title-bestdrawing").addClass("tab-active");
                    break;
                case 3:
                    $("#tab-title-bestinset").addClass("tab-active");
                    break;
                case 4:
                    $("#tab-title-beststory").addClass("tab-active");
                    break;
                default:
                    $("#tab-title-chinacomic").addClass("tab-active");
                    break;
            }

            //$(".tab-title").on('click', function (e) {
            //    $(".tab-title").removeClass("tab-active");
            //    $(this).addClass("tab-active");
            //});

            $("#comic-search").on('click', function () {
                var keywords = $("#comic-keywords").val();
                var type = 0;
                if (keywords != "") {
                    var url = '@Url.Action("M_SearchBookList","ComicBooks")?type=' + type + '&keywords=' + keywords;
                    window.location.href = url;
                }
            });

            $(".book-vote").on('click', function () {
                var parent = $($(this).parent());
                var bookId = parent.find('.book-hid-id').val();
                //var bookId = this.getAttribute("value");
                var url = '@Url.Action("CreateVote", "ComicBooks")?bookId=' + bookId;

                var parent = $($(this).parent());
                if(BookVote(url) == 0){
                    $(this).hide();
                    $(this).prev().show();
                    var currentScore = new Number(parent.find('.vote-score').text());
                    parent.find('.vote-score').text(currentScore + 1+'');
                };
            });

            //已投票限制
            var voteList = getCookie('CBIDS').split(',');
            var bookIdElemList = $(".book-hid-id");

            for (var i = 0; i < bookIdElemList.length; i++)
            {
                var bookId = $(bookIdElemList[i]).val();

                if ($.inArray(bookId, voteList) > -1)
                {
                    $(bookIdElemList[i]).parent().children('.col-btn').hide();
                    $(bookIdElemList[i]).parent().children('.col-btn-solid').show();
                }
            }
        </script>
    </div>
</body>
</html>